.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register__form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
    max-width: 400px;
    margin: 0 auto;

}

.registration-form p {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}

button {
    background-color: #002f34;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #001f24;
}

.helptext {
    font-size: 12px;
    color: #666;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-top: 5px;
}
