@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: black;
}

html {
    background-color: #fcecd3;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 200px;

  
}

.main {
    padding-top: 40px;
}

.link {
  color: #e92413;
  text-decoration: underline;
}