<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
</head>
<body>
    <h1>Редактирование профиля</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_bio">Биография:</label>
        <textarea id="id_bio" name="bio">{{ profile.bio }}</textarea>
        <br>
        <label for="id_avatar">Аватар:</label>
        <input type="file" id="id_avatar" name="avatar">
        <br>
        <input type="submit" value="Сохранить">
    </form>
    <a href="{% url 'reSite:view_profile' %}">Вернуться</a>
</body>
</html>
