<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
    <h1>Профиль пользователя</h1>
    <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
    <p><strong>Биография:</strong> {{ profile.bio }}</p>
    <p><strong>Аватар:</strong></p>
    {% if profile.avatar %}
    <img src="{{ profile.avatar.url }}" alt="Аватар пользователя">
    {% else %}
        <img src="{{ default_avatar_url }}" alt="Фотография по умолчанию">
    {% endif %}
    <a href="{% url 'reSite:edit_profile' %}">Редактировать профиль</a>
</body>
</html>
