{% extends "reSite/header.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'reSite/register.css' %}">
    {% endblock %}
    {% block title %}create book{% endblock %}
</head>
<body>
    <div class="detail">
        {% include 'reSite/header.html' %} 
        <div class="container">
            <div class="detail-container">
                {% block content %}
                  <h2>Create a Book Listing</h2>
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Create Listing</button>
                  </form>
                {% endblock %}
            </div>

        </div>
    </div>
</body>
</html>
