{% extends "reSite/header.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'reSite/listing_list.css' %}">
    {% endblock %}
    {% block title %}listing_list{% endblock %}
</head>
<body>
    <div class="main">
        {% include 'reSite/header.html' %} 
        <div class="container">
            <div class="main-container">
                {% block content %}
                  <h2>Объявления о продаже книг</h2>
                  <div id="sidebar">
                    <h3>Categories</h3>
                    <ul>
                        <li {% if not category %}class="selected"{% endif %}>
                            <a href="{% url "reSite:listings" %}">All</a>
                        </li>
                        {% for c in categories %}
                            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                  <ul>
                    {% for product in products %}
                      <div class="item">
                        
                          <a href="{{ product.get_absolute_url }}">
                            {% if product.avatar %}
                                <img src="{{ product.avatar.url }}" alt="Аватар пользователя">
                            {% else %}
                                <img src="{{ default_avatar_url }}" alt="Фотография по умолчанию">
                            {% endif %}
                            
                            {{ product.title }}
                            ${{ product.price }}
                          </a>

                      </div>
                    {% empty %}
                      <p>Нет доступных объявлений.</p>
                    {% endfor %}
                  </ul>
                {% endblock %}
            </div>

        </div>
    </div>
</body>
</html>
