{% extends "reSite/header.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'reSite/listing_list.css' %}">
    {% endblock %}
    {% block title %}listing_list{% endblock %}
</head>
<body>
    <div class="main">
        {% include 'reSite/header.html' %} 
        <div class="container">
            <div class="main-container">
                {% block content %}
                  <h2>{% trans 'Объявления о продаже книг' %}</h2>
                  <div class="catss">
                    <div id="sidebar">
                        <h3>{% trans 'Категории' %}</h3>
                        <ul>
                            <li class="cats" {% if not category %}class="selected"{% endif %}>
                                <a href="{% url "reSite:listings" %}">All</a>
                            </li>
                            {% for c in categories %}
                                <li class="cats" {% if category.slug == c.slug %}class="selected"{% endif %}>
                                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                      <ul class="ul-list">
                        {% for product in products %}
                          <div class="item">
                            
                              <a href="{{ product.get_absolute_url }}">
                                {% if product.avatar %}
                                    <img src="{{ product.avatar.url }}" alt="Аватар пользователя">
                                {% else %}
                                    <img src="{{ default_avatar_url }}" alt="Фотография по умолчанию">
                                {% endif %}
                                
                                {{ product.book.title }} <br>
                                {{ product.condition }} <br>
                                {{ product.price }} ₸ <br>
                              </a>
    
                          </div>
                        {% empty %}
                          <p>Нет доступных объявлений.</p>
                        {% endfor %}
                      </ul>
                  </div>
                  
                {% endblock %}
            </div>

        </div>
    </div>
</body>
</html>
