{% extends "reSite/header.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reSite/index.css' %}">
    <link rel="stylesheet" href="{% static 'reSite/universal.css' %}">
    {% block title %}{% trans 'Главная' %}{% endblock %}
</head>
<body>
    {% include 'reSite/header.html' %} 
    {% block content %}
    <h1>{% trans 'ReRead - маркетплейс книг' %}</h1>
    {% if user.is_authenticated %}
        <!-- Контент для авторизованных пользователей -->
        <p>{% trans 'Добро пожаловать,' %} {{ user.username }}!</p>
        <a href="{% url 'reSite:logout' %}">{% trans 'Выйти' %}</a>
    {% else %}
        <!-- Контент для анонимных пользователей -->
        <p>{% trans 'Пожалуйста' %}, <a class="link" href="{% url 'reSite:login' %}">{% trans 'войдите' %}</a> {% trans 'или' %} <a class="link" href="{% url 'reSite:register' %}">{% trans 'зарегистрируйтесь' %}</a>.</p>
    {% endif %}
        {% endblock %}
</body>
</html>