{% extends 'core/base.html' %}

{% load static i18n %}
{% get_current_language as language_code %}

{% block title %}
    {% trans 'Sign up' %}
{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">{% trans 'Sign up' %}</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">{% trans 'Username' %}</label><br>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">{% trans 'Email' %}</label><br>
            {{ form.email }}
        </div>

        <!-- <div class="mb-3">
            <label class="inline-block mb-2">{% trans 'First Name' %}</label><br>
            {{ form.first_name }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">{% trans 'Last Name' %}</label><br>
            {{ form.last_name }}
        </div> -->

        <div class="mb-3">
            <label class="inline-block mb-2">{% trans 'Password' %}</label><br>
            {{ form.password1 }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">{% trans 'Repeat password' %}</label><br>
            {{ form.password2 }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">

                {% for field in form %}
                <ul>
                    <li>
                        {{ field.errors }} 
                    </li>
                </ul>
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">{% trans 'Submit' %}</button>
    </form>
</div>
{% endblock %}