{% extends 'core/base.html' %}

{% load static i18n %}
{% get_current_language as language_code %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <p class="flex items-center">
            <a href="#" class="mr-2">{% trans 'Главная' %} — </a>
            <a href="{% url 'item:items' %}?query=&category={{ item.category.id }}" class="mr-2">{{ item.category }} — </a>
            <span>{{ item.name }}, {{ item.author }}</span>
        </p>
        <br>
        
        <img src="{{ item.image.url }}" class="rounded-xl">
        <div class="">
            <p>{% trans 'Доп. фото' %}</p>
            {% if item.image1 %}
                <img src="{{ item.image1.url }}" class="rounded-xl">
            {% endif %}
            
            {% if item.image2 %}
                <img src="{{ item.image2.url }}" class="rounded-xl">
            {% endif %}

            {% if item.image3 %}
                <img src="{{ item.image3.url }}" class="rounded-xl">
            {% endif %}
        </div>
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="text-xl">&#171;{{ item.name }}&#187;, {{ item.author }}</h1>
        <p class="text-gray-500 font-bold">
            {% if item.price %}
                {% if item.is_swap %}
                    {% if item.price %}
                        {{ item.price }} ₸, {% trans 'Обмен' %}
                    {% else %}
                        {% trans 'Обмен' %}
                    {% endif %}
                {% else %}
                    {{ item.price }} ₸
                {% endif %}
            {% else %}
                {% if item.price == 0 %}
                    {{ item.price }} ₸,
                {% endif %}
                {% trans 'Бесплатно' %}
            {% endif %}
        </p>
        <p class="text-gray-500"><strong>{% trans 'Seller' %}: </strong>{{ item.created_by.username }}</p>
        <p class="text-gray-500"><strong>{% trans 'Category' %}: </strong>{{ item.category }}</p>
        <p class="text-gray-500"><strong>{% trans 'Publisher' %}: </strong>{{ item.publisher }}</p>
        <p class="text-gray-500"><strong>{% trans 'Language' %}: </strong>{{ item.get_language_display }}</p>
        <p class="text-gray-500"><strong>{% trans 'Condition' %}: </strong>{{ item.get_condition_display }}</p>
        <p class="text-gray-500"><strong>{% trans 'Cover type' %}: </strong>{{ item.get_cover_type_display  }}</p>

        {% if item.description %}
            <p class="text-gray-700">
                <strong class="text-gray-500">{% trans 'Description' %}:</strong><br>
                {{ item.description }}
            </p>
        {% endif %}

        {% if request.user == item.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>{% trans 'This is your item!' %}</p>

                <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">{% trans 'Edit' %}</a>
                <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">{% trans 'Delete' %}</a>
            </div>
        {% else %}  
            <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">{% trans 'Contact seller' %}</a>
        {% endif %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">{% trans 'Related item' %}</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for item in related_items %}
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <img src="{{ item.image.url }}" class="rounded-t-xl">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">{{ item.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}