{% extends 'core/base.html' %}

{% load static i18n %}
{% get_current_language as language_code %}

{% block title %}
    {% trans 'Items' %}
{% endblock %}

{% block content %}
    <div class="pb-6 grid grid-cols-4 gap-4 bg-gray-100">
        <div class="col-span-1">
            <form method="get" action="{% url 'item:items' %}">
                <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Find a bike, a chair or car...">

                <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">{% trans 'Search' %}</button>
            </form>

            <hr class="my-6">

            <p class="font-semibold">{% trans 'Categories' %}</p>

            <ul>
                {% for category in categories %}
                <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                    <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>

            <hr class="my-6">

            <p class="font-semibold">{% trans 'Clear filters' %}</p>

            <ul>
                <li><a href="{% url 'item:items' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">{% trans 'Clear' %}</a>
        </div>

        <div class="col-span-3">
            <div class="grid xl:md:lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 gap-3">
                {% for item in items %}
                <div class="relative m-5 flex w-full max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md">
                    <a class="relative mx-3 mt-3 flex h-60 rounded-xl" href="{% url 'item:detail' item.id %}">
                      <img class="object-contain" src="{{ item.image.url }}" alt="product image" />
                      <span 
                      class="absolute top-0 left-0 m-2 rounded-full px-3 py-1 text-center text-sm font-medium text-white
                    {% if item.is_swap %}
                        bg-orange-600
                    {% endif %}
                      ">
                    {% if item.is_swap %}
                        Обмен
                    {% endif %}
                      </span>
                      <span 
                      class="absolute top-0 {% if item.is_swap %} left-20 {% endif %} m-2 rounded-full px-3 py-1 text-center text-sm font-medium text-white
                        {% if item.price == 0 %}
                            bg-green-600
                        {% else %}
                            {% if item.price == None %}
                                bg-green-600
                            {% endif %}
                        {% endif %}
                      ">
                        {% if item.price == 0 %}
                            Даром
                        {% else %}
                            {% if item.price == None %}
                                Даром
                            {% endif %}
                        {% endif %}
                      </span>
                    </a>
                    <div class="mt-4 px-5 pb-5">
                        <h5 class="text-xl tracking-tight text-slate-900">
                            {% if item.name|length > 50 %}
                                {{ item.name|slice:":50" }}...
                            {% else %}
                                {{ item.name }}
                            {% endif %}
    
                            {% if item.author|length > 50 %}
                                , {{ item.author|slice:":50" }}...
                            {% else %}
                            , {{ item.author }}
                            {% endif %}
                        </h5>
                      <div class="mt-2 mb-5 flex items-center justify-between">
                        <p>
                            <span class="text-3xl font-bold text-slate-900">
                                    {% if item.price %}
                                        {% if item.is_swap %}
                                            {% if item.price %}
                                                {{ item.price }} ₸
                                            {% else %}
                                                {% trans 'Обмен' %}
                                            {% endif %}
                                        {% else %}
                                            {{ item.price }} ₸
                                        {% endif %}
                                    {% else %}
                                        {% if item.price == 0 %}
                                            {% trans 'Даром' %}
                                        {% else %}
                                            {% trans 'Даром' %}
                                        {% endif %}
                                    {% endif %}
                            </span>
                        </p>
    
                        <span class="mr-2 ml-3 rounded bg-blue-200 px-2.5 py-0.5 text-xs font-semibold">{{ item.get_language_display }}</span>
                          <span class="mr-2 ml-3 rounded bg-purple-200 px-2.5 py-0.5 text-xs font-semibold">{{ item.publisher }}</span>
    
                      </div>
                      <span class="mr-2 rounded bg-yellow-200 px-2.5 py-0.5 text-xs font-semibold">{{ item.get_cover_type_display }}</span>
                      <span class="mr-2 rounded bg-green-200 px-2.5 py-0.5 text-xs font-semibold">{{ item.get_condition_display }}</span>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}